<!DOCTYPE html>
<html>
<head>
    <title>All Users (Admin)</title>
</head>
<body>
    <h1>All Registered Users</h1>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.amt }}</td>
                <td>{{ user.psswd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
